name: Build and Deploy AsciiDoc
on:
  push:
    branches: [ main, master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'  # Указываем версию Ruby явно
          
      - name: Install Asciidoctor
        run: gem install asciidoctor
        
      - name: Convert AsciiDoc to HTML
        run: |
          asciidoctor *.adoc
          # или для конкретного файла:
          # asciidoctor index.adoc
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
